@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAV BAR DESIGNING */

.nav-pic h3{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 2rem;
font-weight: 700;

}

.nav-pic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.nav{ max-width:1440px ;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 186px;
}


    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 186px;
    }
.nav-links .link-item{
        display: flex;
        flex-direction: row;
        gap: 32px;
        list-style: none;
    }
    .link-item a{
        text-decoration: none;
    }
    .home a{
        color: rgb(254, 163, 1);
        font-family: Quicksand;
        font-size: 1.25rem;
        font-weight: 700;
    
    }
  .about a{
        color: rgb(1, 172, 253);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 500;


    }
    .facilities a{
        color: rgb(5, 212, 223);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 500;


    }
  .admission a{
        color: rgb(93, 88, 239);
        font-family: Quicksand;
        font-size: 1.25rem;
        font-weight: 500;
        

    }
    .nav-links button{
             width: 197px;
        height: 50px;
        color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 600;
border-radius: 12px;
border: 0;

background: rgb(254, 163, 1);

    }
   
      /* HERO SECTION DESIGNING   */


    .hero{
max-width: 1158px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
    }
    .hero-content  .long-para{
        font-family: Quicksand;
font-size: 3.5rem;
font-weight: 700;
margin-bottom: 24px;


    }
    .hero-content  .short-para{
        color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 400;
margin-bottom: 24px;

    }

    .empower{ color: rgb(254, 163, 1);

    }
    .toward{ color: rgb(1, 172, 253);

    }

   .hero-content button{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 700;
width: 197px;
height: 50px;
border: 0;
border-radius: 12px;
background: rgb(17, 17, 17);

   }
